.container {
	text-align: center;
}

body{
	background-color: #3FA796;
}

h1 {
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 8rem;
	font-weight: bold;
	text-align: center;
}

p {
	font-family: 'Mouse Memoirs', sans-serif;
	font-weight: bold;
}
#footer {
	text-align: center;
}